<nav class="py-5 px-5 md:px-28 lg:px-56 bg-primary-light dark:bg-primary-dark hidden flex-row gap-4 justify-between md:flex">
    {% include 'components/nav/_nav-h-logo.html.twig' with {
        items: {
            item1: {
                content: "Fonctionnalités",
                path: path('app_feature_index')
            }
        }
    } %}

    {% if app.user %}
        <ul class="flex flex-row gap-4 items-center">
            <li>
                {% include 'components/button/avatar/avatar-menu.html.twig' %}
            </li>
        </ul>

    {% else %}
        {% include 'components/nav/_nav-h.html.twig' with {
            items: {
                item1: {
                    content: "Connexion",
                    path: path('app_login'),
                    icon: "right-to-bracket"
                },
                item2: {
                    content: "Inscription",
                    path: path('app_register'),
                    icon: "user-plus"
                },
            }
        } %}
    {% endif %}

</nav>