<div class="py-5 flex flex-row gap-5 justify-between">
    {% include 'components/button/simple/_btn-simple-primary.html.twig' with{
        path: path('app_feature_index'),
        content: "Liste des fonctionnalités",
        icon: "list"
    } %}
    {% include 'components/button/simple/_btn-simple-primary.html.twig' with{
        path: path('app_feature_new'),
        content: "Ajouter une fonctionnalité",
        icon: "square-plus"
    } %}
</div>