<section class="bg-primary-light dark:bg-primary-dark p-5 font-montserrat">
    <div class="flex items-center justify-center flex-col gap-2.5">
        <h2 class="text-2xl">
            {% include 'components/logo/_logo-h-full.html.twig' with {
                w: "50px",
                h: "50px"
            } %}
        </h2>
        {% include 'partials/footer/_socials.html.twig' %}
        {% include 'partials/footer/_ecosystem.html.twig' %}
        <p class="mt-6 text-sm sm:mt-0">Copyright © 2023 | Lucas Warlop | TheWebAnswer | Boilerplate |
            <a href="{{ asset('misc/Mentions légales et politique de confidentialité.pdf') }}" target="_blank">Mentions légales et politique de confidentialité</a>
        </p>
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
            <img alt="Licence Creative Commons" width="120px" height="60px" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
    </div>
</section>