<ul class="flex flex-row gap-5">
    <li class="text-lg"><a href="https://twitter.com/lucaswarlop" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
    <li class="text-lg"><a href="https://instagram.com/thewebanswer" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li class="text-lg"><a href="https://linkedin.com/company/thewebanswer" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li class="text-lg"><a href="https://github.com/TheWebAnswer/boilerplate.thewebanswer.net" target="_blank"><i class="fa-brands fa-github"></i></a></li>
</ul>