<ul class="flex flex-row gap-5">
    <li class="text-lg"><a href="https://twitter.com/lucaswarlop" target="_blank"><i class="fa-brands fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
    <li class="text-lg"><a href="https://instagram.com/thewebanswer" target="_blank"><i class="fa-brands fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
    <li class="text-lg"><a href="https://linkedin.com/company/thewebanswer" target="_blank"><i class="fa-brands fa-linkedin"></i><span class="sr-only">Linkedin</span></a></li>
    <li class="text-lg"><a href="https://github.com/TheWebAnswer/boilerplate.thewebanswer.net" target="_blank"><i class="fa-brands fa-github"></i><span class="sr-only">Github</span></a></li>
</ul>