/** Inter Thin **/
@font-face {
    font-family: "Inter";
    font-weight: 100;
    font-style: normal;
    src: url("Inter-Thin.woff2") format("woff2");
    font-display: swap;
}

/** Inter ExtraLight **/
@font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: normal;
    src: url("Inter-ExtraLight.woff2") format("woff2");
    font-display: swap;
}

/** Inter Light **/
@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url("Inter-Light.woff2") format("woff2");
    font-display: swap;
}

/** Inter Regular **/
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("Inter-Regular.woff2") format("woff2");
    font-display: swap;
}

/** Inter Medium **/
@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("Inter-Medium.woff2") format("woff2");
    font-display: swap;
}


/** Inter SemiBold **/
@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("Inter-SemiBold.woff2") format("woff2");
    font-display: swap;
}

/** Inter Bold **/
@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("Inter-Bold.woff2") format("woff2");
    font-display: swap;
}

/** Inter ExtraBold **/
@font-face {
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    src: url("Inter-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

/** Inter Black **/
@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("Inter-Black.woff2") format("woff2");
    font-display: swap;
}


