<header>
    <h2 class="text-3xl">{{ title }}</h2>

    {% if description is defined %}
    <p class="text-base">{{ description }}</p>
    {% endif %}
    <div class="w-full h-1 rounded mt-2 bg-primary"></div>
</header>