<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="bg-light dark:bg-dark text-dark dark:text-light">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} TheWebAnswer | Boilerplate | Symfony 6 - Modèle de départ pour des applications web performantes</title>

        {% include 'partials/head/metatags.html.twig' %}
        {% include 'partials/head/favicons.html.twig' %}
        {% include 'partials/head/socials.html.twig' %}
        {% include 'partials/head/externals.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'partials/header/_navbar.html.twig' %}
            {% include 'partials/header/_navbar-mobile.html.twig' %}
            {% include 'partials/header/_alerts.html.twig' %}
        </header>
        <main class="min-h-screen py-5 px-5 md:px-28 lg:px-56">
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'partials/footer/_footer.html.twig' %}
        </footer>
    </body>
</html>
