<a href="{{ path }}" class="border-2 border-primary bg-primary duration-300 dark:hover:bg-primary-dark hover:bg-primary-light px-4 py-2 rounded gap-1 inline-flex items-center ">
    {% if icon is defined %}
    <i class="fa-solid fa-{{ icon }}"></i>
    {% endif %}
    {{ content }}
</a>