<h2 class="flex items-center flex-col md:flex-row text-4xl lg:5xl font-montserrat font-semibold pb-5">
    <img class="pr-2.5 pb-2.5 md:pb-0 block dark:hidden" src="{{ asset('logos/logo-primary-dark.svg') }}" alt="">
    <img class="pr-2.5 pb-2.5 md:pb-0 hidden dark:block" src="{{ asset('logos/logo-primary-light.svg') }}" alt="">
    <a href="https://thewebanswer.net/" target="_blank">TheWebAnswer</a>
    <span class="px-1 hidden md:inline">|</span>
    <a href="{{ path('app_home') }}" class="text-primary">
        {{ app_title }}
    </a>
</h2>