<section class="flex items-center justify-center flex-col py-32">
    <div class="max-w-2xl">
        {% include 'components/logo/_logo-h-full-hero.html.twig' %}
        <p class="pb-5">
            {{ 'hero_description'|trans }}
        </p>
        {% include 'components/button/simple/_btn-simple-primary.html.twig' with {
            icon: "rocket-launch",
            path: "https://github.com/TheWebAnswer/boilerplate.thewebanswer.net",
            content: "Git Clone"
        } %}
        {% include 'components/button/outline/_btn-outline-primary.html.twig' with {
            icon: "wand-magic-sparkles",
            path: path('app_feature_index'),
            content: "Découvrir les fonctionnalités"
        } %}
    </div>
</section>